@*
@page "/id_clientes"

@using System.Collections.Generic
@using System.Linq
@using System.Net.Http
@using System.Net.Http.Json
@using Newtonsoft.Json;
@using System.Net.Http.Headers;
@using RestSharp;
@using RestSharp.Authenticators;
@using System.Text;
@using AdcoBlazor.Models;
@using AdcoBlazor.Data;
@using YourNamespaceHere; // Replace this with the namespace containing your Subclients class

@using System.Net;
@using System.Text.Json;
@inject HttpClient HttpClient
@inject AuthenticationService AuthenticationService
@inject AppState AppState
@inject Client client
@inject Subclients Subclients // Inject the Subclients instance


<body class="sidebar-mini-xs">

	<div class="page">
		<div class="sidebar">
			<Sidebar />
		</div>

		<main class="" style="margin-left:75px;">
			<div class="">

				<NavBar />

			</div>

			<article class="content" style="    margin-left: 15px;">

				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1> "ID goes here!!"_Gastos</h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a class="btn btn-block btn-success" href="gastossañadir">Añadir</a></li>
								</ol>
							</div>
						</div>
					</div>
				</section>

				<div class="col-12">
					<div class="card">
						<div class="card-header">
							<h3 class="card-title"></h3>
						</div>

						<div class="card-body">
							<table class="table table-bordered table-hover" id="example1">
								<thead>
									<tr>
										<th>Nombre</th>
										<th>Metodo pago</th>
										<th>Fecha</th>
										<th>Documentos</th>
										<th>Agregado por</th>
										<th>Observaciones</th>
										<th> </th>
									</tr>
								</thead>
								<tbody>
									@foreach (var clientes in Clients)
									{


										<tr data-widget="expandable-table" aria-expanded="false">
											<td>@clientes.Id</td>
											<td>@clientes.Nombre</td>
											<td>@clientes.MetodoPago</td>
											<td>@clientes.Fecha</td>
											<td>>@clientes.Documentos</td>

											<td>@clientes.CreatedBy</td>
											<td>
												<div class="btn-group">
													<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52" aria-expanded="false">
														<i class="fas fa-bars"></i>
													</button>
													<div class="dropdown-menu" role="menu" style="">
														<a href="#" class="dropdown-item">Editar</a>
														<a href="#" class="dropdown-item text-danger">Eliminar</a>
														<div class="dropdown-divider"></div>
														<a href="#" class="dropdown-item">View calendar</a>
													</div>
												</div>
											</td>
										</tr>
										<tr class="expandable-body d-none">
											<td colspan="5">
												<p style="display: none;">
											<td>@clientes.Observaciones</td>
											</p>
											</td>
										</tr>

									}

								</tbody>
							</table>
						</div>

					</div>

				</div>

			</article>

		</main>
	</div>

</body>




@code {
	private List<Client> Clients { get; set; } = new List<Client>();
	[Parameter] public string UserId { get; set; }

	protected override async Task OnInitializedAsync()
	{
		// Utiliza el token almacenado en AppState
		string token = AppState.AccessToken;
		Clients = await Subclients.GetSubclientsAsync(token, UserId);

		// Muestra el nombre de usuario almacenado en AppState
		string username = AppState.Username;
	}
}*@






